* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  color: rgb(188, 171, 209);
  background: linear-gradient(to top left, #000000 50%, #0f033d 70%, #170368 100%);
}

h1 {
  font-size: 4rem;
  font-weight: 700;
  
}

h2 {
  font-size: 1.5rem;
  font-weight: 900;
}

p {
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: rgb(163, 147, 182);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: 10px;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  z-index: 1;
}

.nav-btn {
  margin: 0 10px;
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  background-color: transparent;
  font-weight: 900;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.nav-btn:hover,
.nav-btn.active,
.nav-btn:focus {
  text-shadow: 0 0 20px #b31eff, 0 0 30px #b31eff, 0 0 50px #b31eff,
    0 0 70px #b31eff;
}

.splash-wrapper {
  display: flex;
  justify-content:  center;
  align-items: center;
  margin: 140px auto;
}

.splash-image {
  position: relative;
  max-width: 400px;
  z-index: 0;
}

.splash-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.splash-text {
  position: relative;
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 1;
  padding: 0 20px;
  margin-top: 40px;
  margin-left: 50px;
}

.btn {
  padding: 10px 20px;
  margin-top: 30px;
  border: none;
  border-radius: 10px;
  background-color: #4d038e;
  font-weight: 700;
  cursor: pointer;
  box-shadow: 0 0 15px #820ce8, 0 0 25px #820ce8, 0 0 40px #820ce8,
    0 0 60px #820ce8;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #b31eff, 0 0 30px #b31eff, 0 0 50px #b31eff,
    0 0 70px #b31eff;
}

/* About */

.content-wrapper {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 50px;
  margin-top: 70px;
}

.content {
  border-radius: 30px; /* Rounded corners */
  flex: 1 1 50%;
  min-height: 420px;
  padding: 40px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  background: radial-gradient(circle, #4c0a86 0%, #110055 40%, #0f033d 80%, #0a0129 100%);
  text-align: left;
  transition: all 0.3s ease-in-out;
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.icons {
  font-size: 1.5rem;
  padding: 10px;
  transition: 0.3s ease-in-out;
}

.icons:hover {
  text-shadow: 0 0 20px #b31eff, 0 0 30px #b31eff, 0 0 50px #b31eff,
  0 0 70px #b31eff;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skills div {
  flex: 0 1 30%;
  max-width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

/* CSS for blinking dot */
  
@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.dot-blink {
  animation: blink 1.2s ease-in-out infinite;
  color: rgb(176, 3, 3);
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(50px, 1fr));
  gap: 20px;
  max-width: 100%;
  min-width: 300px;
  padding: 0 70px;
  margin: 50px auto;
}

/* Overlay and link for desktops */
.image-one, .image-two, .image-tree, .image-four {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
}

.image-one::before, .image-two::before, .image-tree::before, .image-four::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 139, 0.5);
  transition: background-color 0.3s ease-in-out;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.image-one:hover::before,
.image-two:hover::before,
.image-tree:hover::before,
.image-four:hover::before {
  background-color: rgba(0, 0, 139, 0.8);
}

/* Link Overlay Styling */
.link-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  z-index: 10;
}

.image-one:hover .link-overlay,
.image-two:hover .link-overlay,
.image-tree:hover .link-overlay,
.image-four:hover .link-overlay {
  opacity: 1;
}

/* Mobile-specific adjustments */
@media (hover: none) {
  .link-overlay {
    opacity: 1; /* Always show the link on mobile for better user interaction */
  }

  .image-one::before, .image-two::before, .image-tree::before, .image-four::before {
    background-color: rgba(0, 0, 139, 0.405); /* Dark overlay always visible */
  }
}



.image-one {
  grid-column: 1 / 8;
  grid-row: 1 / 5;
}

.image-two {
  grid-column: 5 / 13;
  grid-row: 5 / 9;
}

.image-tree {
  grid-column: 1 / 5;
  grid-row: 5 / 9;
} 

.image-four {
  grid-column: 8 / 13;
  grid-row: 1 / 5;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin: 0 auto;
  margin-top: 70px;
}

.contact-icons {
  margin-top: 30px;
}

#contact h3 {
  margin-top: 20px;
}

#contact span {
  font-weight: 900;
  color: blue;
}

footer {
  text-align: center;
  padding: 30px 0;
}

@media screen and (max-width: 1024px) {

  body {
    background: linear-gradient(to top, #000000 80%, #0f033d 95%, #170368 100%);
  }
  h1 {
    font-size: 3.2rem;
  }
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .splash-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }

  .splash-text {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-top: 0;
    margin-left: 0;
    align-items: center;
    order: 1;
  }

 .contact-wrapper {
    width: 100%;
    padding: 0 10px;
  }

  nav {
    display: none;
  }

  .content {
    flex: 0 1 auto;
    max-width: 584px;
    height: auto;
  }

  .content-wrapper {
    width: 100%;
    flex-direction: column;
    gap: 20px;
  }

  .skills div {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  .grid {
    margin: 0 auto;
    padding: 0 10px;
  }

  .image-one {
    grid-column: 1 / -1;
    grid-row: 1 / 3;
  }
  
  .image-two {
    grid-column: 1 / -1;
    grid-row: 3 / 5;
    overflow: hidden;
  }
  
  .image-tree {
    grid-column: 1 / -1;
    grid-row: 5 / 7;
    overflow: hidden;
  } 
  
  .image-four {
    grid-column: 1 / -1;
    grid-row: 7 / 9;
    overflow: hidden;
  }

}
